<div class="container mt-5 mb-5">
  <div class="row">
    <div class ="col-12">
    <% if @results.present? %>
    <div class ="text-center">
      <h1 class ="mb-5">Search Results</h1>
      <div class ="d-flex flex-wrap justify-content-center">
      <% @results.each do |post| %>
        <div class = "user_post_wrap">
          <%= render "public/posts/post_image", post: post %>
        </div>
      <% end %>
      <%= paginate @results %>
      </div>
    </div>
    <% else %>
    <h4 class ="text-center mt-5 mb-5">There is no matching article.<br>Let's search by changing the conditions!</h4>
    <div class ="d-flex flex-wrap justify-content-center">
    <% @posts.each do |post| %>
      <div class = "user_post_wrap text-center">
        <%= render "public/posts/post_image", post: post %>
      </div>
    <% end %>
    <%= paginate @posts %>
    </div>
    <% end %>
    </div>
  </div>
</div>