<div class ="container mb-5">
  <div class ="row">
    <h1 class ="col-12 text-center mt-5">Edit Genre</h1>
    <div class ="col-12 text-center mt-2">
    <%= form_with model:@genre,url: admin_genre_path(@genre),method: :patch,local:true do |f| %>
    <%= f.text_field :name, autofocus: true %><br>
    <%= f.submit "update",class:"text-center mt-2" %>
    <% end %>
    </div>
  </div>
</div>