<h1>利用シーン名編集画面</h1>
<%= form_with model:@scene,url: admin_scene_path(@scene),method: :patch,local:true do |f| %>
  <div><%= f.text_field :name, autofocus: true %></div>
  <%= f.submit "利用シーン名を変更する" %>
<% end %>