<div class ="container mb-5">
  <div class ="row">
    <h1 class ="col-12 text-center mt-5">Edit Area</h1>
    <div class ="col-12 text-center mt-2">
    <%= form_with model:@area,url: admin_area_path(@area),method: :patch,local:true do |f| %>
    <%= f.text_field :name, autofocus: true %><br>
    <%= f.submit "update",class:"text-center mt-2" %>
    <% end %>
    </div>
  </div>
</div>