/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

/*全体*/
@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Corben', cursive;
}

li{
  list-style: none;
}



a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

// ヘッダー
nav{
 display: flex;
 width: 100%;
 height: 70px;
 background: #F6F6F6;
}

.site_logo{
  color:black;
}

.drawer{
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 0 1em;
}

.menu ul li a:hover{
  color:orange;
}

.menu{
width: 100%;
}

.menu ul{
 height: 70px;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-end;
 align-items: center;
}
.menu ul li {
 padding: 0 1em;
}


//いいねのハート
.my-red{color: #ce5242}


// フッター
footer{
  background: #F6F6F6;
}