<h1>ユーザー詳細画面</h1>
<table>
  <thead>
    <th>番号</th>
    <th>名前</th>
    <th>email</th>
    <th>ユーザー状態</th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.id %></td>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td>
        <% if @user.is_deleted == false %>
          <p>有効</p>
        <% else %>
          <p>退会</p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to "ユーザー情報編集画面",edit_admin_user_path %>