<%= link_to user_path(user) do %>
<% if user.image.attached? %>
  <%= image_tag user.image.variant(resize:'200x200'),class:'user_icon mt-5' %>
<% else %>
  <h1 class ="mt-2">no icon</h1>
<% end %>
<% end %>

