<footer class="text-white text-center">
  <p class="copyright mt-2">
    COPYRIGHT©2021 TravelMania.Co.,LTD.All rights Reserved.<br>
    <p class ="contact">contact:&nbsp;&nbsp;daoqianguobu@gmail.com</p>
  </p>
</footer>
 